<div class="next-steps my-5">
    <h2 class="my-5 text-center">Over ons</h2>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="#">
            <fa-icon [icon]="faLink"></fa-icon> LINK NAAR IETS
          </a>
        </h6>
        <p>
          Anime is de laatste jaren eindelijk doorgebroken in Nederland, en steeds meer mensen ontdekken de magie van manga en anime. Maar het aanbod van echte, unieke anime merchandise blijft hier nog schaars. 
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="#">
            <fa-icon [icon]="faLink"></fa-icon> LINK NAAR IETS
          </a>
        </h6>
        <p>
          Dat is precies waar wij in beeld komen. Animeverse is gespecialiseerd in het aanbieden van zeldzame anime figuren, authentieke manga, en exclusieve anime kleding voor de echte fans. 
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="#">
            <fa-icon [icon]="faLink"></fa-icon> LINK NAAR IETS!!
          </a>
        </h6>
        <p>
          Of je nou een verzamelaar bent of je graag kleedt in de stijl van je favoriete serie, bij Animeverse vind je wat je zoekt, zonder dat je naar het buitenland hoeft te kijken. Wij brengen de wereld van anime dichterbij, speciaal voor de Nederlandse fans. 
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="#">
            <fa-icon [icon]="faLink"></fa-icon> Onze producten
          </a>
        </h6>
        <p>
          Zeker omdat de anime content in Nederland weinig tot niet bestaat, als het gaat om kwalitatief goede kleding. Hier gaat Animeverse verandering in maken. Dus check onze webshop en zoek naar jou favorite item!
        </p>
      </div>
    </div>
  </div>
